
<h1>Werk je lunches bij...</h1>

<%= @employee.fullname %>

<% @lunches = GivenLunch.all %>

<% day_of_week = %w{maandag dinsdag woensdag donderdag vrijdag zaterdag zondag} %>

<% form_tag create_lunch_employee_path, :method => :put do %>
	<div>
		<% @lunches.each do |lunch| %>  
		    
			<%= day_of_week %>
			
		    	<%= check_box_tag "lunch_ids[]", lunch.id  %>
				<%= lunch.date_of_lunch %>
			
		<% end %>

	<p><%= submit_tag "Edit checked" %></p>
<% end %>

