

<h1><%= @employee.fullname %></h1>
<p>Selecteer je lunches...</p>


<% @lunches = GivenLunch.this_week %>

<% today = Time.now.strftime("%F") %>

<% days_of_week = %w{maandag dinsdag woensdag donderdag vrijdag zaterdag zondag} %>

<% form_tag create_lunch_employee_path, :method => :put do %>
	<ul id="display-inline-block">
		<% @lunches.each do |lunch| %>			
			<li class="day">
				<strong><%= lunch.date_of_lunch.strftime("%A")  %></strong>
				<br />
				<%= lunch.date_of_lunch.strftime("%e %B, %G")  %>
				<br /><br />
				<div style="text-align: center;"><%= check_box_tag "lunch_ids[]", lunch.id  %></div>
			</li>
				
		<% end %>
	</ul>
	<p><%= submit_tag "Edit checked" %></p>
<% end %>