

<h1>Hoi <%= @employee.firstname %>!</h1>
<p>Selecteer lunch om te registreren:</p>

<% @lunch = GivenLunch.today %>
<% @lunch_today = @lunch.first unless @lunch.empty? %>

<% notice = "Geen lunch bekend voor vandaag..." %>

<% if @lunch.empty? %>
	<p id="notice"><%= notice %></p>
<% else %>
	<% form_tag create_lunch_employee_path, :method => :put do %>
		<ul id="display-inline-block">
			<li class="today">
			<strong><%= @lunch_today.date_of_lunch.strftime("%A")  %></strong>
			<br />
			<%= @lunch_today.date_of_lunch.strftime("%e %B, %G")  %>
			<br /><br />
			<div style="text-align: center;"><%= check_box_tag "lunch_ids[]", @lunch_today.id  %></div>
			</li>
		</ul>
		<p><%= submit_tag "Bewaar lunch" %></p>
	<% end %>
<% end %>