<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @employee.name %>
</p>

<p>
  <b>Lastname:</b>
  <%= @employee.lastname %>
</p>

<p>
  <b>Employee id:</b>
  <%= @employee.employee_id %>
</p>


<%= link_to 'Edit', edit_employee_path(@employee) %> |
<%= link_to 'Back', employees_path %>
