<%= form_for(@lunch_list) do |f| %>
  <% if @lunch_list.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@lunch_list.errors.count, "error") %> prohibited this lunch_list from being saved:</h2>

      <ul>
      <% @lunch_list.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :employee_id %><br />
    <%= f.text_field :employee_id %>
  </div>
  <div class="field">
    <%= f.label :given_lunch_id %><br />
    <%= f.text_field :given_lunch_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
