<% # get employees and lunch dates %>
<% @employees = Employee.all %>
<% @given_lunches = GivenLunch.all %>

<%= form_for(@lunch_list) do |f| %>
  <% if @lunch_list.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@lunch_list.errors.count, "error") %> prohibited this lunch_list from being saved:</h2>

      <ul>
      <% @lunch_list.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

 <div class="field">
    <%= f.label :employee_id %><br />
	<%= f.collection_select :employee_id, @employees, :id, :fullname, :prompt => true %>
  </div>
  <div class="field">
    <%= f.label :givenlunch_id %><br />
	<%= f.collection_select :given_lunch_id, @given_lunches, :id, :date_of_lunch, :prompt => true %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
