<h1>All Employees</h1>

<table>
  <tr>
    <th>Employee</th>
    <th>Given lunches</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @lunch_lists.each do |lunch_list| %>
  <tr>
    <td><%= lunch_list.employee_id %></td>
    <td><%= lunch_list.given_lunch_id %></td>
    <td><%= link_to 'Show', lunch_list %></td>
    <td><%= link_to 'Edit', edit_lunch_list_path(lunch_list) %></td>
    <td><%= link_to 'Destroy', lunch_list, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Lunch list', new_lunch_list_path %>
