<%= form_for(@given_lunch) do |f| %>
  <% if @given_lunch.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@given_lunch.errors.count, "error") %> prohibited this given_lunch from being saved:</h2>

      <ul>
      <% @given_lunch.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :date_of_lunch %><br />
	<div class="turn-me-into-datepicker"></div>
  	<%= f.hidden_field 'date_of_lunch' %>	
  </div>
  <div class="field">
    <%= f.label :price %><br />
    <%= f.text_field :price %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
