<h1>Listing given_lunches</h1>

<table>
  <tr>
    <th>Date of lunch</th>
    <th>Price</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @given_lunch_months.each do |month, lunches| %>
	<tr><td><h2><%= month %></h2></td></tr>
	<% lunches.each do |given_lunch| %>
	  <tr>
	    <td><%= given_lunch.date_of_lunch %></td>
	    <td><%= given_lunch.price %></td>
	    <td><%= link_to 'Show', given_lunch %></td>
	    <td><%= link_to 'Edit', edit_given_lunch_path(given_lunch) %></td>
	    <td><%= link_to 'Destroy', given_lunch, :confirm => 'Are you sure?', :method => :delete %></td>
	  </tr>
	<% end %>
<% end %>
</table>

<br />

<%= link_to 'New Given lunch', new_given_lunch_path %>

