<h1>Overview given_lunches</h1>

<table>


<% @given_lunch_months.each do |month, lunches| %>
	<tr><td><h2><%= month %></h2></td></tr>
  	<tr>
	    <th>Date of lunch</th>
	    <th>Price</th>
		<th>Amount of Employees</th>
	    
	  </tr>
	<% lunches.each do |given_lunch| %>
	  <tr>
	    <td><%= given_lunch.date_of_lunch.strftime("%A, %e %B") %></td>
	    <td><%= given_lunch.price %></td>
		<td><%= given_lunch.employees.length %>
	  </tr>
	<% end %>
	<tr><td>Total this month: <%= lunches.length %></td></tr>
<% end %>
</table>

