
<h1>Lunchr!</h1>

<h2>Medewerkers</h2>
<ul>
	<li><%= link_to 'Employees overview', overview_employees_path %></li>
	<li><%= link_to 'Report given lunches', overview_given_lunches_path %></li>
</ul>

<h2>Beheer</h2>
<ul>
	<li><%= link_to 'Employees', employees_path %></li>
	<li><%= link_to 'Employees overview', overview_employees_path %></li>	
	<li><%= link_to 'Given lunches', given_lunches_path %></li>
	<li><%= link_to 'Report given lunches', overview_given_lunches_path %></li>
	<li><%= link_to 'Lunch lists', lunch_lists_path %></li>
</ul>